$footerHeight: 220px;
$xs: 768px;
html, body, .site-wrapper {
    height: 100%;
    @include max-screen($xs) {height: auto}
}
body > .site-wrapper {
    height: auto; min-height: 100%;
    @include max-screen($xs) {max-height: auto}
}
.container {
    padding-bottom: 310px;
    @include max-screen($xs) {padding-bottom: 25px}
}

body {
    font: 14px 'SharpSansNo1Medium', Arial;
    background: #f9f9f9;
    min-width: 280px;
    letter-spacing: 0.5px;
}

.clear {
    &:before, &:after {
        clear: both;
        display: block;
        zoom: 1;
        content: '';
    }
}

.content {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1440px;
    @include max-screen($xs) {padding: 0 15px}
}

.main-header {
    height: 100px;
    background: #fff;
    @include max-screen($xs) {height: 65px}
}

.main-footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: $footerHeight;
    margin-top: -$footerHeight;
    background: #101010;
    @include max-screen($xs) {
        height: auto;
        margin-top: 0;
    }
}

.banner {
    position: relative;
    height: 400px;
    background: url(../img/big-banner.jpg) no-repeat center;
    background-size: cover;
    @include max-screen($xs) {height: 100px}
}
.banner_small {
    height: 200px;
    @include max-screen($xs) {height: 100px}
}


.breadcrumbs-area {
    padding: 53px 0;
    background: #fff;
    @include max-screen($xs) {display: none}
}

.login-link {
    display: inline-block;
    margin-top: 40px;
    color: #cacaca;
    font: 12px 'SharpSansNo1Bold';
    float: right;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    @include max-screen($xs) {
        display: inline-block;
        margin-top: 25px;
        text-indent: -9999px;
        @include s(login-small);
    }
}

.breadcrumbs {
    font-size: 0;
    &>li {
        display: inline-block;
        width: 22%;
        margin-left: 2%;
        vertical-align: middle;
        @include bb;
        &:first-child {margin-left: 0}
        &>a {
            color: #ff3c66;
            text-decoration: none;
            font-size: 24px;
            font: 24px 'SharpSansNo1Bold';
        }
        &>p {
            margin-top: 5px;
            color: #858585;
            font: 16px 'SharpSansNo1Semibold';
        }
    }
    &>.active {
        position: relative;
        padding-right: 40px;
        color: #333;
        font: 24px 'SharpSansNo1Semibold';
        &:after {
            @include ip(breadcrumbs-arrov, 100%, 50%);
            margin: -48px 0 0 -40px;
        }
    }
}

.tile {
    padding: 65px 0 40px;
    @include max-screen($xs) {padding: 25px 0 15px}
    &>li {
        position: relative;
        float: left;
        width: 33%;
        height: 256px;
        margin-right: 0.5%;
        background-color: #fff;
        text-align: center;
        @include border-radius(4px);
        @include box-shadow(0 3px 0 rgba(0, 0, 0, 0.04));
        &:last-child {margin-right: 0}
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            z-index: 1;
            @include max-screen($xs) {
                left: 25px;
                top: 50%;
                margin: -16px 0 0;
            }
        }
        @include max-screen($xs) {
            float: none;
            width: 100%;
            margin: 0 0 15px 0;
            height: auto;
        }
        &.active a {color: #ff3c66}
        &>a {
            position: relative;
            display: block;
            height: 100%;
            padding: 155px 10px 0;
            color: #858585;
            font: 24px 'SharpSansNo1Bold';
            text-decoration: none;
            @include bb;
            z-index: 2;
            @include max-screen($xs) {
                padding: 25px 10px 25px 70px;
                font-size: 20px;
                text-align: left;
            }
        }
    }
}
.tile_active>li {
    @include max-screen($xs) {
        width: 48%;
        float: left;
        &:after {left: 10px}
        &:first-child:after {left: 25px}
        &:not(:first-child) a {
            height: 50px;
            padding: 0 10px 0 50px;
            font-size: 14px;
            &:before {
                height: 100%;
                display: inline-block;
                vertical-align: middle;
                content: '';
            }
            &>span {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    &:last-child {
        @include max-screen($xs) {margin-left: 4%}
    }
    &:first-child {
        @include max-screen($xs) {width: 100%}
        a {
            @include max-screen($xs) {
                padding: 26px 10px 26px 70px;
                font-size: 20px;
            }
        }
    }
}

@each $className, $iconName, $top, $marginLeft in
        (tile__settings, settings, 64px, -32px),
        (tile__user, user, 66px, -29px),
        (tile__time, about, 65px, -32px) {
    .#{$className} {
        &:after {
            @include s(#{$iconName});
            top: $top;
            margin-left: $marginLeft;
            @include max-screen($xs) {@include s(#{$iconName}-small);}
        }
        &.active:after {
            @include sp(#{$iconName}-active);
            @include max-screen($xs) {@include sp(#{$iconName}-small-active);}
        }
    }
}

.logo {
    display: inline-block;
    .main-header & {
        padding-top: 25px;
        @include max-screen($xs) {padding-top: 15px}
    }
    @include max-screen($xs) {
        &>img {width: 100px}
    }
}

.logo-reverse {
    float: left;
    &>img {
        @include max-screen(1250px) {width: 100%}
    }
    .main-footer & {
        width: 10%;
        padding-top: 45px;
        @include max-screen($xs) {
            position: absolute;
            padding: 0;
            width: auto;
            bottom: -75px;
            left: 15px;
        }
    }
}


.search {
    .banner & {
        width: 43%;
        min-width: 410px;
        max-width: 720px;
        @include center-both;
        @include max-screen($xs) {min-width: 260px}
    }
}
.search__form {position: relative}
.search__submit {
    position: absolute;
    width: 65px;
    height: 82%;
    top: 9%;
    right: 3px;
    background: #fff;
    border-left: 1px solid #eaeaea;
    @include max-screen($xs) {width: 40px}
    &:after {
        @include ip(search, 50%, 50%);
        margin: -10px 0 0 -10px;
        @include max-screen($xs) {
            @include s(search-small);
            margin: -8px 0 0 -8px;
        }
    }
}
.search__input {
    width: 100%;
    padding: 23px 125px 23px 20px;
    background-color: #fff;
    color: #858585;
    font: 24px 'SharpSansNo1Medium';
    font-weight: 400;
    @include bb;   
    @include box-shadow(inset 0 2px 3px rgba(0, 0, 0, 0.2));
    @include max-screen($xs) {
        font-size: 12px;
        padding: 15px 85px 15px 15px;
    }
}

.search__clean {
    display: none;
    position: absolute;
    top: 50%;
    right: 90px;
    margin-top: -12px;
    @include s(input-clear);
    cursor: pointer;
    @include max-screen($xs) {
        @include s(input-clear-small);
        margin-top: -8px;
        right: 60px;
    }
    .search_filled & {display: block}
}


.main-footer__top {
    position: relative;
    padding-bottom: 45px;
    @include max-screen($xs) {padding-bottom: 25px}
}

.main-footer__bottom {
    border-top: 1px solid #313131;
    @include max-screen($xs) {padding-top: 70px}
}

.footer-list {
    float: left;
    padding-top: 30px;
    @include max-screen($xs) {float: none}
    &>li {
        display: inline-block;
        margin-right: 20px;
        @include max-screen($xs) {
            display: block;
            margin-bottom: 10px;
        }
        &>a {
            color: #858585;
            font-size: 14px;
            text-decoration: none;
            @include max-screen($xs) {font-size: 12px}
        }
    }
}

.copyright {
    float: right;
    padding-top: 30px;
    color: #858585;
    font-size: 14px;
    @include max-screen($xs) {
        float: none;
        padding: 20px 0 35px;
    }
}

.app-available {
    width: 60%;
    float: left;
    margin: 55px 0 0 9%;
    font: 18px 'SharpSansNo1Semibold';
    color: white;
    @include max-screen(1250px) {
        width: 55%;
        margin: 45px 0 0 6%;
    }
    @include max-screen(920px) {
        width: 50%;
        margin-left: 4%;
    }
    @include max-screen($xs) {
        float: none;
        width: 90%;
        padding-top: 35px;
        margin: 0 auto;
        font-size: 13px;
        text-align: center;
    }
    &>span {
        color: #858585;
        font-family: 'SharpSansNo1Medium';
        @include max-screen($xs) {display: block}
    }
}

.buy-app {
    width: 21%;
    min-width: 250px;
    float: right;
    padding-top: 45px;
    &>li {
        display: inline-block;
        margin-left: 10px;
        &:first-child {margin-left: 0}
    }
    @include max-screen($xs) {
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }
}


.tabs {margin-bottom: 40px}
.tab {
    width: 100%;
    max-width: 960px;
    .tab {
        .tab__title {
            color: #858585;
            font: 20px 'SharpSansNo1Semibold';
            border: none;
            padding: 0 25px 0 0;
            &:after {display: none}
            @include max-screen($xs) {font-size: 14px}
        }
        .tab__handle {
            right: 2px;
            margin-top: -6px;
            @include s(tab-arrow-2);
        }
        .tab__content {
            padding: 10px 25px 0 0;
            color: #858585;
            font-size: 16px;
            @include max-screen($xs) {font-size: 14px}
        }
    }
}
.tab_open + .tab > .tab__title {border-top: 2px solid #f9f9f9}
.tab__title {
    position: relative;
    padding: 33px 60px 33px 30px;
    background: #fff;
    color: #ff3c66;
    font: 24px 'SharpSansNo1Bold';
    border-bottom: 2px solid #f9f9f9;
    cursor: pointer;
    &>a {
        color: #858585;
        text-decoration: none;
    }
    @include max-screen($xs) {
        padding: 10px 40px 10px 12px;
        font-size: 16px;
    }
    &:after {
        content: '';
        position: absolute;
        width: 4px;
        height: 100%;
        background: #ff3c66;
        top: 0;
        left: 0;
    }
}
.tab_open {
    &>.tab__title>.tab__handle {@include transform(rotate(180deg));}
    &>.tab__content {display: block}
}
.tab__handle {
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -12px;
    cursor: pointer;
    @include s(tab-arrow);
    @include max-screen($xs) {right: 10px}
}
.tab__content {
    display: none;
    padding: 0 30px;
    background: #fff;
    &>ul {
        &>li {
            position: relative;
            padding: 15px 0 18px;
            border-top: 2px solid #f9f9f9;
            cursor: pointer;
            &:first-child {border-top: none}
            @include max-screen($xs) {padding: 12px 0}
        }
    }
    @include max-screen($xs) {padding: 0 12px}
}
.tab__action {padding: 15px 0 20px}

.btn {
    display: inline-block;
    font: 12px 'SharpSansNo1Bold';
    padding: 18px 12px;
    @include border-radius(3px 0px 3px 3px);
    text-decoration: none;
    letter-spacing: 2.5px;
    @include max-screen($xs) {padding: 12px 10px}
}
.btn_red {
    color: #ff3c66;
    border: 2px solid #ff3c66;
}

.title {
    padding: 10px 0;
    color: #858585;
    font: 30px 'SharpSansNo1Semibold';
    @include max-screen($xs) {font-size: 25px}
}

.text {
    margin-bottom: 10px; 
    color: #858585;
    font-size: 16px;
    @include max-screen($xs) {font-size: 14px}
    &>p {margin-bottom: 10px}
}


.breadcrumbs-list-wrapper {
    padding: 50px 0;
    @include max-screen($xs) {padding: 10px 0}
}

.breadcrumbs-list {
    &>li {
        display: inline-block;
        color: #858585;
        font-size: 16px;
        line-height: 2;
        &>a {
            color: #ff3c66;
            text-decoration: none;
        }
    }
}



.article-wrapper {
    margin-bottom: 30px;
    @include max-screen($xs) {margin-bottom: 40px}
}

.article {
    width: 100%;
    padding: 25px 30px;
    max-width: 960px;
    background: #fff;
    color: #858585;
    @include bb;
    @include max-screen($xs) {padding: 10px 15px}
}

.article__title {
    margin-bottom: 20px;
    font: 20px 'SharpSansNo1Semibold';
    @include max-screen($xs) {
        margin-bottom: 10px;
        font-size: 14px;
    }
}

.article__text {
    font-size: 16px;
    @include max-screen($xs) {font-size: 14px}
    &>p {
        margin-bottom: 20px;
        @include max-screen($xs) {margin-bottom: 15px}
    }
}

.article__action {padding: 10px 0 5px}