// ---------------------------------------------------------------------------------------------------------------------
// Variables:
//   $units: 1px;                     // default units for 'screen' mixins - it must include a digit!
//
// Mixins:
//   @ min-screen(width)              // shortcut for @media screen and (min-width ...)
//   @ max-screen(width)              // shortcut for @media screen and (max-width ...)
//   @ screen(min-width, max-width)   // shortcut for @media screen and (min-width ...) and (max-width ...)
//   ---
//   @ iphone3                        // only iPhone (2, 3G, 3GS) landscape & portrait
//   @ iphone3-landscape              // only iPhone (2, 3G, 3GS) only landscape
//   @ iphone3-portrait               // only iPhone (2, 3G, 3GS) only portrait
//   ---
//   @ iphone4                        // only iPhone (4, 4S) landscape & portrait
//   @ iphone4-landscape              // only iPhone (4, 4S) only landscape
//   @ iphone4-portrait               // only iPhone (4, 4S) only portrait
//   ---
//   @ iphone5                        // only iPhone (5) landscape & portrait
//   @ iphone5-landscape              // only iPhone (5) only landscape
//   @ iphone5-portrait               // only iPhone (5) only portrait
//   ---
//   @ ipad                           // only iPad (1, 2, Mini) landscape & portrait
//   @ ipad-landscape                 // only iPad (1, 2, Mini) only landscape
//   @ ipad-portrait                  // only iPad (1, 2, Mini) only portrait
//   ---
//   @ ipad-retina                    // only iPad (3, 4) landscape & portrait
//   @ ipad-retina-landscape          // only iPad (3, 4) only landscape
//   @ ipad-retina-portrait           // only iPad (3, 4) only portrait
//   ---
//   @ hdpi(ratio)                    // devices with hidpi displays (default ratio: 1.3)
//
// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// --- screen ----------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------

$units: 1px !default

@mixin screen($res-min, $res-max)
    @media screen and ( min-width: if(unitless($res-min), $res-min*$units, $res-min) ) and ( max-width: if(unitless($res-max), $res-max*$units, $res-max) )
        @content

@mixin max-screen($res)
    @media screen and ( max-width: if(unitless($res), $res*$units, $res) )
        @content

@mixin min-screen($res)
    @media screen and ( min-width: if(unitless($res), $res*$units, $res) )
        @content

// ---------------------------------------------------------------------------------------------------------------------
// --- hdpi ------------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------

// Based on bourbon hidpi-media-queries file (https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_hidpi-media-query.scss)
// HiDPI mixin. Default value set to 1.3 to target Google Nexus 7 (http://bjango.com/articles/min-device-pixel-ratio/)

@mixin hdpi($ratio: 1.3)
    @media only screen and (-webkit-min-device-pixel-ratio: $ratio), only screen and (min--moz-device-pixel-ratio: $ratio), only screen and (-o-min-device-pixel-ratio: #{$ratio}/1), only screen and (min-resolution: #{round($ratio*96)}dpi), only screen and (min-resolution: #{$ratio}dppx)
        @content

// ---------------------------------------------------------------------------------------------------------------------
// --- iphone ----------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------


@mixin iphone
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px)
        @content

@mixin iphone3
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px)
    and (-webkit-device-pixel-ratio: 1)
        @content

@mixin iphone3-portrait
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px)
    and (-webkit-device-pixel-ratio: 1) and (orientation:portrait)
        @content

@mixin iphone3-landscape
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px)
    and (-webkit-device-pixel-ratio: 1) and (orientation:landscape)
        @content

// ---------------------------------------------------------------------------------------------------------------------
// --- iphone-retina ---------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------

@mixin iphone4
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px)
    and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3)
        @content

@mixin iphone4-portrait
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px)
    and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:portrait)
        @content

@mixin iphone4-landscape
    @media only screen and (min-device-width: 320px)  and (max-device-width: 480px)
    and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:landscape)
        @content

// ---------------------------------------------------------------------------------------------------------------------
// --- iphone-5 --------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------

@mixin iphone5
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px)
    and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
        @content

@mixin iphone5-portrait
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px)
    and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation:portrait)
        @content

@mixin iphone5-landscape
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px)
    and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation:landscape)
        @content

// ---------------------------------------------------------------------------------------------------------------------
// --- ipad + ipad mini ------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------

@mixin ipad
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
    and (-webkit-device-pixel-ratio: 1)
        @content

@mixin ipad-portrait
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
    and (-webkit-device-pixel-ratio: 1) and (orientation:portrait)
        @content

@mixin ipad-landscape
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
    and (-webkit-device-pixel-ratio: 1) and (orientation:landscape)
        @content

// ---------------------------------------------------------------------------------------------------------------------
// --- ipad-retina -----------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------

@mixin ipad-retina
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px)
    and (-webkit-device-pixel-ratio: 2)
        @content

@mixin ipad-retina-portrait
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px)
    and (-webkit-device-pixel-ratio: 2) and (orientation:portrait)
        @content

@mixin ipad-retina-landscape
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px)
    and (-webkit-device-pixel-ratio: 2) and (orientation:landscape)
        @content