// +tr($what)
// +placeholder-color($color)
// +placeholder
// +nosel
// +font-smoothing($val: antialiased)
// +ip($width, $height, $left, $top, $pos-x, $pos-y)
// +ib($pos-x, $pos-y)
// +br($radius)
// +fbr($fbr)
// +size($width, $height)
// +lt($left, $top)
// +rt($right, $top)
// +rtd (revert rt)
// +siline($font-size, $line-height)
// +o($alpha)
// +bb
$sprite-path: "images/sprite.png"
=transition($what)
    -moz-transition: $what
    -o-transition: $what
    -webkit-transition: $what
    -ms-transition: $what
    transition: $what
=tr($what)
    +transition($what)
=placeholder-color($color)
    &:-moz-placeholder
        color: $color
    &::-webkit-input-placeholder
        color: $color
=placeholder
    &:-ms-input-placeholder
        @content
    &:-moz-placeholder
        @content
    &::-moz-placeholder
        @content
    &::-webkit-input-placeholder
        @content
    &::placeholder
        @content
=unselectable
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
=nosel
    +unselectable
=font-smoothing($val: antialiased)
    -webkit-font-smoothing: $val
    -moz-font-smoothing: $val
    -ms-font-smoothing: $val
    -o-font-smoothing: $val
=icon-pseudo($image, $left, $top)
    content: ''
    position: absolute
    top: $top
    left: $left
    +s($image)
=ip($image, $left, $top)
    +icon-pseudo($image, $left, $top)
=border-radius($radius)
    border-radius: $radius
    -webkit-border-radius: $radius
    -moz-border-radius: $radius
=br($radius)
    +border-radius($radius)
=full-border-radius($fbr)
    border-radius: $fbr
    -webkit-border-radius: $fbr
    -moz-border-radius: $fbr
=fbr($fbr)
    +full-border-radius($fbr)
=size($width, $height)
    width: $width
    height: $height
=left-top($left, $top)
    left: $left
    top: $top
=lt($left, $top)
    +left-top($left, $top)
=right-top($right, $top)
    right: $right
    top: $top
=rt($right, $top)
    +right-top($right, $top)
=opacity($alpha)
    opacity: $alpha
    filter: alpha(opacity=$alpha*100)
=o($alpha)
    +opacity($alpha)
=border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    -ms-box-sizing: border-box
    -o-box-sizing: border-box
    box-sizing: border-box
=bb
    +border-box
=text-decoration
    text-decoration: none
    &:hover
        text-decoration: underline
=td
    +text-decoration
=rtd
    text-decoration: underline
    &:hover
        text-decoration: none
=siline($fontsize, $lineheight)
    font-size: $fontsize
    line-height: $lineheight
=cover
    background-repeat: no-repeat
    background-size: cover
    background-position: 50% 50%
=center-h($height)
    position: absolute
    top: 50%
    height: $height
    margin-top: -$height/2
=center-h-unk
    position: relative
    top: 50%
    @include transform(translateY(-50%))

=center-both
    position: absolute
    top: 50%
    left: 50%
    @include transform(translate(-50%,-50%))
=text-truncate
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
=icon-pseudo($image, $left, $top)
    content: ''
    position: absolute
    top: $top
    left: $left
    +s($image)
=ip($image, $left, $top)
    +icon-pseudo($image, $left, $top)
=font($alias, $name)
    @font-face
        font-family: $alias
        src: url("fonts/" + $name + ".eot")
        src: url("fonts/" + $name + ".eot?#iefix") format("embedded-opentype"), url("fonts/" + $name + ".woff2") format("woff2"), url("fonts/" + $name + ".woff") format("woff"), url("fonts/" + $name + ".ttf") format("truetype"), url("fonts/" + $name + ".svg#" + $name) format('svg')
        font-weight: normal
        font-style: normal