html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video
	margin: 0 
	padding: 0
	border: 0
	vertical-align: baseline
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block
b,strong
	font-weight: bold
img
	color: transparent
	font-size: 0
	vertical-align: middle
	-ms-interpolation-mode: bicubic
body, html
	height: 100%
img,fieldset, a img
	border: none
input[type="submit"],
button
	cursor: pointer
	&::-moz-focus-inner
		padding: 0
		border: 0
textarea 
	overflow: auto
input, button 
	margin: 0
	padding: 0
	border: 0
input, textarea, select,button,
h1,h2,h3,h4,h5,h6,a,span,a:focus 
	outline: none
ul,ol    
	list-style-type: none
table
	border-spacing: 0
	border-collapse: collapse
	width: 100%
svg
	overflow: hidden
.clear
	&:after, &:before
		clear: both
		display: block
		zoom: 1
		content: ''
.left
	float: left
.right
	float: right
html, body
	font: 14px 'helios'
	color: #000
.text-aling-center
	text-align: center
	.btn
		display: inline-block