//  sprites with padding
$icons: sprite-map("icons/*.png", $spacing: 10px)

// sized sprites
@mixin image-size($path)
	width: image-width($path)
	height: image-height($path)
@mixin sized-sprite($map, $sprite)
	background: sprite($map, $sprite) no-repeat
	@include image-size(sprite-file($map, $sprite))
//shortcut
@mixin s($sprite, $map: $icons)
	background: sprite($map, $sprite) no-repeat
	//background-image: inline-image('icons/'+$sprite+'.png','image/png') to switches sprites to base64, elegant
	@include image-size(sprite-file($map, $sprite))
//only position of sprite, to remove flicker effect in chrome
@mixin sp($sprite, $map: $icons)
	background-position: sprite-position($map, $sprite)
//only image, when dimensions are useless
@mixin si($sprite, $map: $icons)
	background: sprite($map, $sprite) no-repeat
// insert svg
@mixin svg($name, $width, $height)
	background: url('../img/svg/#{$name}.svg') no-repeat 0 0
	@include background-size(#{$width}px #{$height}px)
	// background-image: inline-image('svg/#{$name}.svg','image/svg')
	width: #{$width}px
	height: #{$height}px
	display: inline-block